body {
  background-color: #217fae;
}
.container {
  display: grid;
  justify-items: center;
  font-family: "roboto";
  gap: 20px;
}

.content {
  width: 60vw;
  height: 60vh;
  background-color: #fff;
  border: 3px dashed gray;
  padding: 20px;
}
